/eSGO/packages
/eSGO/.vs
/eSGO/SGO.Core/obj
/eSGO/SGO.Core/bin/Debug
/eSGO/SGO.Core/bin/Release
/eSGO/SGO.UI.Web/obj
/eSGO/SGO.UI.Web/bin/SGO.UI.Web.dll
/eSGO/SGO.UI.Web/bin/SGO.UI.Web.pdb
/eSGO/SGO.UI.Web/bin/SGO.Core.dll
/eSGO/SGO.UI.Web/bin/SGO.Core.pdb
/build
/eSGO/SGO.UI.Web/SGO.UI.Web.csproj.user
